# next settings
NEXT_PUBLIC_ROOT_URL=""

# database settings
DATABASE_URL=""

# auth0 settings
# A long, secret value used to encrypt the session cookie
AUTH0_SECRET=''
# The base url of your application
AUTH0_BASE_URL=''
# The url of your Auth0 tenant domain
AUTH0_ISSUER_BASE_URL=''
# Your Auth0 application's Client ID
AUTH0_CLIENT_ID=''
# Your Auth0 application's Client Secret
AUTH0_CLIENT_SECRET=''

# ably settings
ABLY_API_KEY=''
NEXT_PUBLIC_ABLY_SUBSCRIBE_KEY=''

# sendgrid settings
SENDGRID_API_KEY=''